.customFilterOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 25px;
}

.filterItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.filterItem select {
    padding: 16px;
    width: 374px;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #000000;
}

.filterItem select option {
    font-size: 14px;
}

.rangeInputGroup {
    display: flex;
    gap: 10px;
}

.rangeInputGroup label {
    font-size: 14px;
    font-weight: 300;
}

.rangeInputGroup input {
    padding: 16px;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid #000000;
}