.main-container {
    padding-left: 52px;
    padding-top: 52px;
}

.catalog-title {
    font-family: Roboto, sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 40px;
}

.catalog-title .login-link,
.catalog-title .register-link {
    font-size: 16px;
    font-weight: bold;
    color: #6a0dad;
    margin-left: 20px;
    text-decoration: none;
}

.catalog-title .login-link:hover,
.catalog-title .register-link:hover {
    color: #5a0cac;
}

.search-container {
    margin-top: 30px;
    display: flex; /* Используем flex для выравнивания элементов в строку */
    flex-direction: row; /* Элементы будут располагаться в ряд */
    width: 100%;
    align-items: center; /* Выравнивание элементов по вертикали */
}

.label1 {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    font-weight: 500;
    margin-left: 0; /* Убираем отступы слева */
}

.search-field {
    width: 374px;
    height: 40px;
    padding: 8px;
    border: 1px solid #434343;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px; /* Отступ справа, чтобы была дистанция от кнопки */
    font-family: Arial, sans-serif;
}

.search-button {
    width: 120px;
    height: 48px;
    background-color: #6a0dad;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    display: block;
    border-radius: 5px;
}

.search-button:hover {
    background-color: #5a0cac;
}


.view-all-link {
    display: inline-block;
    margin-top: 20px;
    color: #6a0dad;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.view-all-link:hover {
    color: #5a0cac;
}

.coins-gallery {
    display: flex;
    justify-content: flex-start; /* Выравнивание элементов по левому краю */
    margin-top: 50px; /* Отступ сверху */
    gap: 30px; /* Расстояние между колонками */
    flex-wrap: wrap; /* Позволяет элементам "переноситься" на новую строку */
}

.coins-gallery > div {
    width: 32%; /* Занимает 1/3 пространства контейнера */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание элементов внутри блока по левому краю */
    text-align: left; /* Текст выравнивается по левому краю */
    margin-bottom: 30px; /* Отступ снизу для красоты */
}

.category-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.view-all-link {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin-bottom: 20px; /* Отступ снизу, чтобы кнопка была над изображением */
}

.view-all-link:hover {
    color: #5a0cac;
}

.coin-image {
    width: 100%; /* Ширина картинки будет 100% от родительского элемента */
    max-width: 300px; /* Максимальная ширина картинки */
    height: auto; /* Пропорциональное изменение высоты */
    object-fit: cover; /* Чтобы изображение не искажалось */
    border-radius: 8px; /* Немного закругленных углов для картинок */
}
