.admin-register-form {
    margin-top: 30px;
    padding: 20px;
}

.admin-header {
    font-family: Roboto, sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: left;
    margin: 20px 0 40px 52px;
}

.input-fields-container {
    margin-top: 150px;
}

.input-field,
.password-input {
    width: 374px;
    height: 40px;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #434343;
    border-radius: 2px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.register-button,
.back-home-button {
    width: 120px;
    height: 48px;
    display: block;
    background-color: #6a0dad;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-align: center;
}

.register-button:hover,
.back-home-button:hover {
    background-color: #5a0cac;
}

label {
    font-size: 16px;
    font-family: Arial, sans-serif;
    display: block;
    margin: 10px auto;
    width: 374px;
}

.gfvdsjhjd {
    color: #5a0cac;
    text-decoration: none;
}

a {
    color: #6a0dad;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
}

.center-text {
    color: #6a0dad;
    text-align: center;
    margin-top: 20px;
}
